body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #191A19;
}
div {
    color: white;
    text-align: center;
    list-style-position: inside
}

.price-tag {
    color: green;
    font-size: larger;
}
.pt {
    color: #4E9F3D;
}

header {
    color: blue;
}